
<div ng-app="patientApp" ng-controller="PatientController">
    <h2>Patients</h2>

    <div class="row">
        <div class="col-xs-4">
            <h3>Page: {{ currentPage }}</h3>
        </div>
        <div class="col-xs-4">
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
        </div>
        <div class="col-xs-4">
            <label for="search">items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
    </div>


    <table class="table table-responsive table-hover">
        <thead>

            <tr>
                <th><a href="" ng-click="predicate = 'Id'; reverse=false">Id</a></th>
                <th><a href="" ng-click="predicate = 'FirstName'; reverse=!reverse">First name</a></th>
                <th><a href="" ng-click="predicate = 'LastName'; reverse=!reverse">Last name</a></th>
                <th><a href="" ng-click="predicate = 'Address'; reverse=!reverse">Address</a></th>
                <th><a href="" ng-click="predicate = 'City'; reverse=!reverse">City</a></th>
                <th>Modify</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tr dir-paginate="patient in patients | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-click="select(patient.resource)">
            <td>{{patient.resource.id}}</td>
            <td>{{patient.resource.name[0].given[0]}}</td>
            <td>{{patient.resource.name[0].family[0]}}</td>
            <td>{{patient.resource.address[0].line[0]}}</td>
            <td>{{patient.resource.address[0].city}}</td>
            <td>
                <div class="control-group">
                    <div class="controls">
                        <button data-toggle="modal" href="#myModal1" id="modify" name="modify" ng-click="modify(patient.resource)" class="btn btn-primary btn-sm">Modify</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    <div class="controls">
                        <button ng-click="setCurrent(patient.resource)" data-toggle="modal" href="#confirmDialog" id="remove" name="remove" class="btn btn-danger btn-sm">Remove</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="control-group">
                    <div class="controls">
                        <button ng-click="setCurrent(patient.resource)" data-toggle="modal" href="#prettyJsonView" id="prettyJsonBtn" name="prettyJsonBtn" class="btn btn-info btn-sm">FHIR</button>
                    </div>
                </div>
            </td>
        </tr>

    </table>



    <div ng-controller="OtherController" class="other-controller">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/templates/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>


    <!-- Button trigger modal -->
    <button data-toggle="modal" href="#myModal1" class="btn btn-primary" id="add" name="add" ng-click="add()">New patient</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Patient details</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" ng-submit="submit()">
                        <fieldset>

                            <!-- Form Name -->
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="Id">Id</label>
                                <div class="controls">
                                    <input id="id" ng-model="Id" name="Id" placeholder="Id" class="input-xlarge" required="" type="text" ng-disabled="isDisabled()">
                                    <p class="help-block">Patients id</p>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="FirstName">First name</label>
                                <div class="controls">
                                    <input id="firstName" ng-model="FirstName" name="firstName" placeholder="First name" class="input-xlarge" ng-disabled="isDisabled()" required="" type="text">
                                    <p class="help-block">Patients first name</p>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="LastName">Last name</label>
                                <div class="controls">
                                    <input id="LastName" ng-model="LastName" name="LastName" placeholder="Last name" class="input-xlarge" ng-disabled="isDisabled()" required="" type="text">
                                    <p class="help-block">Patients last name</p>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="Address">Address</label>
                                <div class="controls">
                                    <input id="Address" ng-model="Address" name="Address" placeholder="Address" class="input-xlarge" ng-disabled="isDisabled()" type="text">
                                    <p class="help-block">Patients address</p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="City">City</label>
                                <div class="controls">
                                    <input id="City" ng-model="City" name="City" placeholder="City" class="input-xlarge" required="" ng-disabled="isDisabled()" type="text">
                                    <p class="help-block">City of living</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>




                <div class="modal-footer">
                    <button ng-click="submit()" type="button" class="btn btn-success" data-dismiss="modal">Save changes</button>
                    <button ng-click="cancel()" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Confirm delete ?</h4>
                </div>

                <div class="modal-footer">
                    <button ng-click="remove(current)" type="button" class="btn btn-success" data-dismiss="modal">YES</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">NO</button>

                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="prettyJsonView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">FHIR view</h4>
                </div>
                <div class="modal-body">
                    <pre id="prettyJson"></pre>
                </div>
                </div>
            </div>
        </div>
    </div>


