<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>New Patient</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="firstName">First name</label>
            <div class="controls">
                <input id="firstName" name="firstName" placeholder="First name" class="input-xlarge" required="" type="text">
                <p class="help-block">Patients first name</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="LastName">Last name</label>
            <div class="controls">
                <input id="LastName" name="LastName" placeholder="Last name" class="input-xlarge" required="" type="text">
                <p class="help-block">Patients last name</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="City">City</label>
            <div class="controls">
                <input id="City" name="City" placeholder="City" class="input-xlarge" required="" type="text">
                <p class="help-block">City of living</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="Address">Address</label>
            <div class="controls">
                <input id="Address" name="Address" placeholder="Address" class="input-xlarge" type="text">
                <p class="help-block">Patients address</p>
            </div>
        </div>

    </fieldset>
</form>
